-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: seo_system
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `backlinks`
--

DROP TABLE IF EXISTS `backlinks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `backlinks` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `project_id` int(11) NOT NULL,
  `backlink_url` varchar(1000) NOT NULL,
  `platform` varchar(100) DEFAULT NULL,
  `da_score` int(11) DEFAULT 0,
  `status` enum('pending','created','verified') DEFAULT 'pending',
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `post_title` varchar(500) DEFAULT NULL,
  `verified_status` varchar(50) DEFAULT 'unverified',
  `last_checked_at` datetime DEFAULT NULL,
  `keyword` varchar(255) DEFAULT NULL,
  `target_url` varchar(1000) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `project_id` (`project_id`),
  CONSTRAINT `backlinks_ibfk_1` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2553 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `backlinks`
--

LOCK TABLES `backlinks` WRITE;
/*!40000 ALTER TABLE `backlinks` DISABLE KEYS */;
/*!40000 ALTER TABLE `backlinks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `broken_internal_links`
--

DROP TABLE IF EXISTS `broken_internal_links`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `broken_internal_links` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `project_id` int(11) NOT NULL,
  `source_url` varchar(255) NOT NULL,
  `broken_url` varchar(255) NOT NULL,
  `status_code` int(11) NOT NULL,
  `found_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `broken_internal_links`
--

LOCK TABLES `broken_internal_links` WRITE;
/*!40000 ALTER TABLE `broken_internal_links` DISABLE KEYS */;
/*!40000 ALTER TABLE `broken_internal_links` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `content_queue`
--

DROP TABLE IF EXISTS `content_queue`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `content_queue` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `project_id` int(11) NOT NULL,
  `title` varchar(500) DEFAULT NULL,
  `article` longtext DEFAULT NULL,
  `status` enum('draft','approved','published') DEFAULT 'draft',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `project_id` (`project_id`),
  CONSTRAINT `content_queue_ibfk_1` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=171 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `content_queue`
--

LOCK TABLES `content_queue` WRITE;
/*!40000 ALTER TABLE `content_queue` DISABLE KEYS */;
/*!40000 ALTER TABLE `content_queue` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `keyword_rankings_log`
--

DROP TABLE IF EXISTS `keyword_rankings_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `keyword_rankings_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `project_id` int(11) NOT NULL,
  `keyword` varchar(255) NOT NULL,
  `position` int(11) NOT NULL,
  `logged_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `keyword_rankings_log`
--

LOCK TABLES `keyword_rankings_log` WRITE;
/*!40000 ALTER TABLE `keyword_rankings_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `keyword_rankings_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `keywords`
--

DROP TABLE IF EXISTS `keywords`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `keywords` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `project_id` int(11) NOT NULL,
  `keyword` varchar(255) NOT NULL,
  `search_volume` int(11) DEFAULT 0,
  `difficulty` int(11) DEFAULT 0,
  `selected` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `cpc` decimal(5,2) DEFAULT 0.00,
  `seo_difficulty` int(11) DEFAULT NULL,
  `competition` float DEFAULT 0,
  `score` int(11) DEFAULT 0,
  `status` varchar(20) DEFAULT 'Pending',
  PRIMARY KEY (`id`),
  KEY `project_id` (`project_id`),
  CONSTRAINT `keywords_ibfk_1` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1253 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `keywords`
--

LOCK TABLES `keywords` WRITE;
/*!40000 ALTER TABLE `keywords` DISABLE KEYS */;
/*!40000 ALTER TABLE `keywords` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `onpage_issues`
--

DROP TABLE IF EXISTS `onpage_issues`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `onpage_issues` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `project_id` int(11) NOT NULL,
  `issue_type` varchar(100) DEFAULT NULL,
  `issue_detail` text DEFAULT NULL,
  `fix_code` text DEFAULT NULL,
  `status` enum('open','approved','fixed') DEFAULT 'open',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `project_id` (`project_id`),
  CONSTRAINT `onpage_issues_ibfk_1` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=386 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `onpage_issues`
--

LOCK TABLES `onpage_issues` WRITE;
/*!40000 ALTER TABLE `onpage_issues` DISABLE KEYS */;
/*!40000 ALTER TABLE `onpage_issues` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `project_meta`
--

DROP TABLE IF EXISTS `project_meta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `project_meta` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `project_id` int(11) NOT NULL,
  `meta_title` varchar(100) NOT NULL,
  `meta_description` varchar(200) NOT NULL,
  `meta_keywords` text DEFAULT NULL,
  `og_title` varchar(120) DEFAULT NULL,
  `og_description` varchar(220) DEFAULT NULL,
  `og_image` varchar(500) DEFAULT NULL,
  `h1_suggestion` varchar(255) DEFAULT NULL,
  `schema_json` longtext DEFAULT NULL,
  `full_head_html` longtext DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `project_id` (`project_id`),
  CONSTRAINT `project_meta_ibfk_1` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=123 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `project_meta`
--

LOCK TABLES `project_meta` WRITE;
/*!40000 ALTER TABLE `project_meta` DISABLE KEYS */;
/*!40000 ALTER TABLE `project_meta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `projects`
--

DROP TABLE IF EXISTS `projects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `projects` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `website_url` varchar(500) NOT NULL,
  `target_keyword` varchar(255) NOT NULL,
  `target_site` varchar(500) DEFAULT NULL,
  `seo_score` int(11) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `post_image` varchar(255) DEFAULT NULL,
  `auto_schedule` tinyint(1) DEFAULT 1,
  `package_type` varchar(50) DEFAULT 'basic',
  `business_name` varchar(255) DEFAULT '',
  `contact_name` varchar(255) DEFAULT '',
  `phone` varchar(50) DEFAULT '',
  `email` varchar(255) DEFAULT '',
  `gsc_access` text DEFAULT NULL,
  `ga_access` text DEFAULT NULL,
  `admin_url` varchar(255) DEFAULT '',
  `admin_user` varchar(255) DEFAULT '',
  `admin_pass` text DEFAULT NULL,
  `competitor_sites` text DEFAULT NULL,
  `business_desc` text DEFAULT NULL,
  `business_address` text DEFAULT NULL,
  `business_hours` varchar(255) DEFAULT NULL,
  `google_ads_id` varchar(100) DEFAULT NULL,
  `onboarding_submitted` int(11) DEFAULT 0,
  `onboarding_submitted_at` datetime DEFAULT NULL,
  `pagespeed_mobile_score` int(11) DEFAULT NULL,
  `pagespeed_desktop_score` int(11) DEFAULT NULL,
  `pagespeed_metrics_json` text DEFAULT NULL,
  `pagespeed_checked_at` datetime DEFAULT NULL,
  `pagespeed_score` int(11) DEFAULT NULL,
  `local_code_path` varchar(255) DEFAULT '',
  `git_repo_url` varchar(255) DEFAULT '',
  `github_user` varchar(255) DEFAULT '',
  `github_token` varchar(255) DEFAULT '',
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `projects_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=211 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `projects`
--

LOCK TABLES `projects` WRITE;
/*!40000 ALTER TABLE `projects` DISABLE KEYS */;
/*!40000 ALTER TABLE `projects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rank_history`
--

DROP TABLE IF EXISTS `rank_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rank_history` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `project_id` int(11) NOT NULL,
  `keyword` varchar(255) DEFAULT NULL,
  `rank_position` int(11) DEFAULT NULL,
  `checked_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `project_id` (`project_id`),
  CONSTRAINT `rank_history_ibfk_1` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=342 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rank_history`
--

LOCK TABLES `rank_history` WRITE;
/*!40000 ALTER TABLE `rank_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `rank_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seo_reports`
--

DROP TABLE IF EXISTS `seo_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `seo_reports` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `project_id` int(11) NOT NULL,
  `rank` int(11) DEFAULT 0,
  `seo_score` int(11) DEFAULT 0,
  `backlinks_count` int(11) DEFAULT 0,
  `issues_found` text DEFAULT NULL,
  `report_date` date NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `project_id` (`project_id`),
  CONSTRAINT `seo_reports_ibfk_1` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=243 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seo_reports`
--

LOCK TABLES `seo_reports` WRITE;
/*!40000 ALTER TABLE `seo_reports` DISABLE KEYS */;
INSERT INTO `seo_reports` VALUES (33,203,0,54,0,NULL,'2026-06-29','2026-06-29 10:08:20'),(34,203,0,54,0,NULL,'2026-06-30','2026-06-30 07:15:41'),(237,204,0,49,0,NULL,'2026-06-30','2026-06-30 11:04:27'),(238,207,0,54,0,NULL,'2026-06-30','2026-06-30 11:38:09'),(239,205,0,29,0,NULL,'2026-06-30','2026-06-30 11:38:28'),(240,206,0,49,0,NULL,'2026-06-30','2026-06-30 11:39:46'),(241,208,0,54,0,NULL,'2026-07-03','2026-07-03 06:31:49'),(242,203,0,54,0,NULL,'2026-07-03','2026-07-03 06:35:16');
/*!40000 ALTER TABLE `seo_reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `social_accounts`
--

DROP TABLE IF EXISTS `social_accounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `social_accounts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `platform` varchar(50) NOT NULL,
  `username` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `password` text DEFAULT NULL,
  `api_key` text DEFAULT NULL,
  `api_secret` text DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `refresh_token` text DEFAULT NULL,
  `project_id` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `social_accounts_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4491 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `social_accounts`
--

LOCK TABLES `social_accounts` WRITE;
/*!40000 ALTER TABLE `social_accounts` DISABLE KEYS */;
/*!40000 ALTER TABLE `social_accounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `role` varchar(50) DEFAULT 'admin',
  `allowed_menus` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (3,'admin','$2y$10$CZK74wkXlKYjNecTQb4Rkeo/WAYTf8uC/wGuE/l8oizxDpqYUxvpm','admin12@restaurant.com','2026-04-21 08:54:01','admin',NULL),(20,'kartik','$2y$10$pM0OAnvD7TotRM3gstQv8epj.Vaji3hJZpvi5AvXQz84y1vX0NYMm','kartikchauhan@gmail.com','2026-06-29 06:31:01','client','dashboard,add-project,submissions,how-to-use'),(21,'p1','$2y$10$eiFTx62FnjAGBWboC0TAPuL.XNBpVdXCpVh9Nv5aGYHDw8hwOR.mS','p1@gmail.com','2026-06-30 04:53:12','client',NULL);
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-06 13:07:10
